<div class="widehead">
	<ul>
		<li><a href="?m=manage">管理ページ</a></li>
		<li><a href="?m=manage&r=new">新規エントリ</a></li>
		<li><a href="?m=manage&r=widget">ウィジェット</a></li>
		<li><a href="?m=manage&r=archives">ファイルアーカイブス</a></li>
		<li><a href="?m=manage&r=apikey">APIキー管理</a></li>
		<li><a href="?m=manage&r=archives2">ファイルアーカイブス2</a></li>
	</ul>
</div>
<div class="ds_new_entry">
	<div class="ds_new_entry_register">
		<p>日記の削除が完了しました</p>
	</div>
</div>